<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sneakers</title>
</head>
<body>
<form action="/logout" method="post" style="float: right">
    <button type="submit">Logout</button>
</form>

<h1>Welcome {{name}}:</h1>
<p id="demo"></p>
<script>
    document.getElementById("demo").innerHTML = Date();
</script>

<form action="/create-sneaker" method="post">
    <input type="text" name="brand" placeholder="Enter the brand"/>
    <input type="text" name="name" placeholder="Enter the name"/>
    <input type="number" name="year" placeholder="Enter the year"/>
    <input type="number" name="price" placeholder="Enter the price"/>
    <input type="number" name="size" placeholder="Enter your size"/>
    <button type="submit">Submit</button>
</form>
<br>
{{#sneaker}}
{{username}}: {{brand}} {{name}} {{year}}, {{price}} &amp; {{size}} <a href="/edit?id={{id}}"}}><button type="button">Edit</button></a>
<form action="delete-message" method="post" style="display: inline-block">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete</button>
</form>
{{/sneaker}}
<br>


</body>
</html>