html {
    size: 1000px;
}

body {
    background-image: url("http://img.gawkerassets.com/img/18vklfjad7hiajpg/original.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

p {
    font-style: italic;
    color: floralwhite;
}

.submit-button {
    background-color:#000;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    border-radius:20px;
    border:0;
    text-shadow:#000 0 -1px 0;
    height: 20px;
    width: 100px;
}

/* used a css button generator */
.exit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn-1 {
    background: #000;
    color: #fff;
    box-shadow: 0 6px #000;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}

img {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 20px;   /* Height of the footer */
    background: lightgray;
}